.containerForm {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form label {
    color: #fff;
    font-weight: 400;
}

.form :is(input[type="text"], select, button[type="submit"]) {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    background: none;
    border: 3px solid #fff;
    color: #fff;
}

.form input[type="text"]::placeholder {
    color: #fff;
}

.form select {
    cursor: pointer;
}

.form select:focus {
    background: transparent;
}

.form select option {
    color: #000;
}

.form button[type="submit"] {
    background: none;
    outline: none;
    background-color: #F4940E;
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}