.weatherDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 50px 70px;
    border-radius: 10px;
}

.weatherDetail .temp {
    font-size: 4rem;
    font-weight: 900;
}

.weatherDetail .temps {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.weatherDetail .temps div p {
    display: block;
    font-size: 1.2rem;
}

.weatherDetail .temps div p span {
    font-weight: 600;
}