* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-image: url(/public/bg_clima.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 1rem;
    color: black;
}